.dashboard-page {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.dashboard-page h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

.dashboard-page-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem 0;
    height: 550px;

}

.dashboard-page-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}